/* body {
    background-color: blue;
    background: linear-gradient(blue,white);
    background-repeat: no-repeat;
} */
canvas {
    /* background-image: url("https://lh3.googleusercontent.com/BcrxEUe3e9HkBNG5ZIhhd0gIl5v4_Ovlxs75n_B5WJX6iMNNUJm4ZD_LZh8XvkOcL_zsmvWODQCnOe0RM0fM8M-X0elq-F1o9g-RhhtW3QCy3OyE9MG6yGu1hlHMDkU9Pu0jEEetz8ysdvZ2VSeQH3yaupcdNoRJPZdGg8P702Hjw3fdZ6ChReTkZdV68RNCd5YvbN5Ev5xk5zqXT5qlVEI3BOT0g1VIQs_94B5GPMGb3oVXab2W_GZstAqensUvkjalfAioXO030gjOSZ-IsRosbnAiOwoTxyaf9ttsmgTtbyIykiOAaB4jVhH4di_jXHYtV-an5teQQpUv1LNrlCnJjGt3Sb9HJ8Np-TiOt5srdG6sRNkJYq05DrSoY0w3z0qiTNLWauA-MMduiqiGnEvTVr0SGXBFlvoO2HAH_B4ujVfDnhOewD9-9-wcTxXj3NFR9XEEq7VbkdY6Jaq-O8jEbPCHMNFSXkqGErILiRcqpTs5wCoDvHjKd2XethdrFfMOmyK9iSuMx0wettZ7xY60G1phzslqpKCbuG4q_Mgo_KbZYML3UcKeKsCXFhqszvQS1ckwJQhJk5SXlBgSx_Gb2yowaUKMHXzBWTG3bwv2cocB0wSd2gKzC71F8ziuXvN5ZoxGh1RxjKA_aGiUudku8qoCiDxH4wVaWz_pbkSLi0CCWqeK=w1200-h675-no");  */
}